$body-color: #fff;
$background-color: rgba(0,0,0,.1);
$border-color: #ccc;

$paragraph-margin: 0 0 1em;

$global-font: Helvetica, Arial, sans-serif;
$global-line-height: 1.5em;
$global-font-size: 1.1em;
$global-font-color: #000;