* { box-sizing: border-box; }

@include border-box-sizing;

.container {
	background: white;
	padding: 1rem;
	width: 100%;
	overflow: auto;

	margin: 0 auto;

	@include breakpoint($large) {
		box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
		width: 85%;
		padding: 1rem 2rem;
	}
}