html {
	font-size: 90%;
}

body {
	font-family: $global-font;
	font-size: $global-font-size;
	line-height: $global-line-height;
	vertical-align: baseline;
}

a {
	color: $global-link-color;
	text-decoration: underline;
	outline: none;

	&:hover {
		text-decoration: none;
		color: $global-font-color;
	}
}

header {
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	color: $global-link-color;
	font-size: 2rem;
	letter-spacing: -0.02rem;
	padding: 0.5rem 0;
	display: block;
}

h2, .h2 {
	font-size: 1.5rem;
	font-style: italic;
	letter-spacing: -0.02rem;
	padding: 0.5rem 0;
	display: block;
}

h3, .h3 {
	font-size: 1.5rem;
	padding: 0.5rem 0;
	display: block;
	letter-spacing: -0.02rem;
}

p {
	margin: $paragraph-margin;
}

img {
	max-width: 100%;
	height: auto;
}

.justify {
	text-align: justify;
}