body {
	font-family: $global-font;
	font-size: 87.5%;
	line-height: $global-line-height;
}

a, a:hover, a:visited, a:active {
	color: $global-font-color;
	text-decoration: none;
}

h1, .h1 {
	font-size: 2em;
	letter-spacing: -0.02em;
	padding: 0.5em 0;
	display: block;
}

h2, .h2 {
	font-size: 1.5em;
	font-style: italic;
	letter-spacing: -0.02em;
	padding: 0.5em 0;
	display: block;
}

h3, .h3 {
	font-size: 1.5em;
	padding: 0.5em 0;
	display: block;
	letter-spacing: -0.02em;
}

p {
	margin: $paragraph-margin;
	outline-color: rgb(0, 0, 0);
	outline-style: none;
	outline-width: 0px;
	vertical-align: baseline;
	font-size: $global-font-size;
}

img {
	max-width: 100%;
	height: auto;
}

.justify {
	text-align: justify;
}