.list {
	margin: 1em 0;
}

.post {
	margin: 0 0 4em 0;
}

.m-post {

	@include breakpoint($large) {
		@include span(first 9);
	}
}

.m-postview {
	@include breakpoint($large) {
		@include span(first 9);
	}
}

.m-panel {
	margin-bottom: 1rem;
}

#sidebar {

	display: none;

	@include breakpoint($large) {
		display: block;
		@include span(last 3);
	}
}

.m-pagination {
	padding: 1em;

	border: solid 1px $border-color;

	@include span(full);

	text-align: center;

	.previous {
		float: left;
	}

	.next {
		float: right;
	}
}