@mixin t-box-shadow {
	border: $border-default;
	box-shadow: 5px 5px 10px $border-color;
	border-radius: 8px;
}

body {
	background: $body-color;
}

.list {

	&.t-border-bottom {

		li {
			border-bottom: $border-default;
		}
	}

	&.t-box-shadow {

		li {
			@include t-box-shadow;
		}
	}

	&.t-spacing {

		li {
			margin: 0 0 1em;
			padding: 1em;
		}
	}
}

.title {
	text-align: center;
}

#siteTitle {
	color: black;
}

.m-panel {

	.l-panel-header {
		text-align: center;
	}

	.l-panel-header,
	.l-panel-body,
	.l-panel-footer
	{
		padding: 1rem;
	}

	&.t-border {

		border: $border-default;

		.l-panel-header {
			border-bottom: $border-default;
		}
		.l-panel-footer {
			border-top: $border-default;
		}
	}
}