<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">

		{% if page.excerpt %}
		<meta name="description" content="{{ page.excerpt | strip_html }}">
		{% endif %}
	</head>
	<body>

		<header class="container">
			<a href="/"><span id="siteTitle" class="h1 title">{{ site.name }}</span></a>
		</header>

		<div class="container">
			{% include breadcrumb.html %}
		</div>

		{{ content }}

		<footer class="container">
		</footer>

		<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" />

	</body>
</html>
